@using myWebApp.Controllers
@using myWebApp.Models
@using myWebApp.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileDogService DogService

<div class="card-columns">
@foreach (var dog in DogService.GetDogs())
{
    <div class="card">
        <div class="card-img" style="background-image: url('@dog.Picture');">
        </div> 
    </div>
    <br/>
    <br/>
}
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

